@use '../../styles/base/variables' as *;

/* Pill Component */
.pill__skill {
  display: inline-block;
  font-size: 0.8125rem;
  font-weight: 500;
  padding: 2px 12px;
  background-color: $purple-beige_gradient3;
  border-radius: 4px;
}
