@use '../../styles/app'; // import style vars from app.scss

/* Pill Component */
.pill__skill {
	display: inline-block;
	font-size: 0.85rem;
	font-weight: 500;
	padding: 2px 12px;
	background-color: app.$purple-beige_gradient3;
	border-radius: 4px;
}
