@use './variables.scss' as *;

/* Root App Styling */
:root {
	font-family: $font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-weight: $base-font-weight;

	background-color: $purple_primary;
	color: $white;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}
html {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	max-width: 1280px;
	margin-left: auto;
	margin-right: auto;
}
