@use '../../styles/base/variables' as *;

/* Alert Pop up Styling */
/* Container */
.popUp_container {
	display: flex;
	gap: 1rem;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	border-radius: 4px;
	padding: 1rem;
	background-color: $purple-beige_gradient4;
	-webkit-box-shadow: 4px 4px 30px -12px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 4px 4px 30px -12px rgba(0, 0, 0, 0.5);
	box-shadow: 4px 4px 30px -12px rgba(0, 0, 0, 0.5);
	transition: all 150ms ease-in-out;
	visibility: hidden;
	opacity: 0;

	/* Container on Open/Close State  */
	&.isVisible {
		visibility: visible;
		opacity: 1;
	}

	/* Alert Icon */
	.icon_alert {
		font-size: 2rem;
	}
	.icon_alert > path {
		fill: $white;
	}
	.icon_close > path {
		fill: $grey;
	}

	/* Alert Text - Heading & Subheading */
	.popUp_message .heading,
	.description {
		margin: 0;
	}

	/* Micro-Interactions */
	.icon_close:hover {
		cursor: pointer;
	}
}
