/************* App Variables *************/
$white: #ffffff;
$grey: #d9d9d9;
$black: #000000;
$purple_primary: #2a2a7f;
$purple_dark: #151a80;
$purple_transparent: #ffffff0d;
$purple-beige_gradient1: #403a89;
$purple-beige_gradient2: #554a8e;
$purple-beige_gradient3: #6a5a92;
$purple-beige_gradient4: #806a97;
$purple-beige_gradient5: #95799c;
$purple-beige_gradient6: #aa89a0;
$purple-beige_gradient7: #bf99a5;
$purple-beige_gradient8: #d5a9aa;
$purple-beige_gradient9: #eab9ae;
$beige_primary: #ffc9b3;

$font-family:
  Helvetica Neue,
  Roboto,
  Arial,
  sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$base-line-height: 24px;

$breakpoint-sm: 390px;
$breakpoint-md: 550px;
$breakpoint-lg: 760px;
$breakpoint-xl: 1085px;
$breakpoint-xxl: 1440px;
